{% extends 'base.html' %}

{% block title %}
Добавление человека
{% endblock %}

{% block body %}

	<!-- First, include the Webcam.js JavaScript Library -->
	<script type="text/javascript" src="/static/jss/webcam.min.js"></script>
	<!-- Configure a few settings and attach camera -->
	<script language="JavaScript">
		Webcam.set({
			width: 320,
			height: 240,
			image_format: 'jpeg',
			jpeg_quality: 90
		});
	</script>
<div class="container mt-5">
    <h1 class="page-title" id="page-title">Добавление человека</h1>
    {% if photo_error %}
    <div class="alert alert-danger" role="alert">
        На фото не найдено лиц или лиц найдено несколько!!!
    </div>
    {% endif%}
    <form method="post" enctype="multipart/form-data">
        {{ form.first_name(class_="form-control", placeholder="Введите имя") }}<br>
        {{ form.second_name(placeholder="Введите фамилию", class_="form-control") }}
        {{ form.photo_hidden() }}
        <br><h2>Загрузите фотографию или сделайте снимок с вебкамеры</h2><br>
        <input type="file" style="width:200" id="photo" name="photo" onchange="handleFiles(this.files)" class="form-control-file">
        <img id="camera_access" style="vertical-align: top; width: 33pt" class="btn btn-primary" src="/static/img/camera.png" onclick="setup()"><br>
        <div id="my_camera", style="margin-top:20p; margin-bottom:20pt; margin-top:20pt"></div>
        <input type="button" id="take_snap" value="Сделать снимок" onClick="take_snapshot()" style="display:none; width:320px" class="btn btn-primary"><br>
        <div id="results" style="display:none"></div>
        <input type="submit" id="button" value="Отправить" disabled="disabled" style="width:320px" class="btn btn-success"><br>
    </form><br>
</div>

<script language="JavaScript">
            function handleFiles(files) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    document.getElementById('results').innerHTML =
                        '<h2>Ваше изображение:</h2>' +
                        '<img src="'+e.target.result+'" class="taken-picture" style="margin-bottom: 20pt" id="image_block"/>';
                    document.getElementById('results').style = "";
                    var raw_image_data =  e.target.result.replace(/^data\:image\/\w+\;base64\,/, '');
                    document.getElementById('photo_hidden').value = raw_image_data;
                    document.getElementById('button').disabled = false;
                }

                reader.readAsDataURL(files[0]);
            }

            function setup() {
                    document.getElementById('camera_access').onClick=""
                    document.getElementById('take_snap').style= "width:320px; display: inline"

                    Webcam.reset();
                    Webcam.attach( '#my_camera' );
                }
            function take_snapshot() {
                // take snapshot and get image data
                Webcam.snap( function(data_uri) {
                    // display results in page
                    var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
                    document.getElementById('photo_hidden').value = raw_image_data;
                    document.getElementById('button').disabled = false;
                    document.getElementById('button').style = "width:320px; display: inline";
                    document.getElementById('results').style = "";
                    document.getElementById('results').innerHTML =
                        '<h2>Ваше изображение:</h2>' +
                        '<img src="'+data_uri+'" class="taken-picture" style="margin-bottom: 10pt" id="image_block"/>';
                } );
            }
    </script>

{% endblock %}